body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 1;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 1;
}

p {
    font-size: 1.2em;
    margin: 5px 0;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Added flex-wrap for responsive layout */
    justify-content: space-between; /* Added for better spacing */
